body {
    background-color: #8da3ab;
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-position: center 10px;
    font-family: Geneva,Tahoma,Verdana,sans-serif;
}

body > header {
    height: 150px;
    width: 900px;
    margin: auto;
}
body > header h1 {
    text-align: center;
    font-weight: 800;
    line-height: 150px;
}
body > header a,
body > header a:hover{
    text-decoration: none;
    color: inherit;
}

#article {
    background-color: #f0f0f0;
    width: 900px;
    margin: auto;
    padding: 30px;
    border: 1px solid #3b4a52;
}
.post {
    font-size: 18px;
    line-height: 1.4em;
}

.article-title {
    color: #3b4a52;
    font-size: 24px;
    font-weight: 800;
}

article footer {
    font-size: 12px;
    text-align: right;
}
